<!-- VIEW -->


<center><h1>All about me</h1></center>
<p style="color: red;">This is a page about ... <%= @Home.name %></p>

<p>Today is <%= Date.today %>. Have a great day!</p>
<p>My birthday is <%= @Home.birthdate %></p>
<p>My fav color is <%= @Home.color %></p>
<!-- VIEW -->